<div class="card">
    <div class="card-header">
        <h3>ngPrime Component</h3>
    </div>
    <div class="card-body">
        <div class="card-title text-center">
            <h4>Drop Down</h4>
        </div>
        <div class="card-text">
            <p-dropdown [options]="cities" [(ngModel)]="selectedCity" (click)='onDropDownClick($event)'></p-dropdown>
            <hr>
            <div class="text-right">
                <button type="button" class="btn btn-primary" (click)='setDropDownValue($event);'>Set Value</button>
                <button type="button" class="btn btn-primary">Get Value</button>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="#" class="btn btn-primary">Home</a>
        </div>

    </div>
</div>