<div class="container border border-primary rounded">
     <div class="row" style="color:white;">a</div>
     <div class="row" style="color:white;">b</div>
    <div class="row">
        <div class="col-md-2">
            <nav class="nav flex-column">
                <a class="nav-link active" routerLink="/datatable" routerLinkActive="active">DataTable</a>
                <a class="nav-link" routerLink="/expandedDt" routerLinkActive="active">Expanded DT</a>
                <a class="nav-link" routerLink="/lazyloadingDt" routerLinkActive="active">Lazy Loading</a>
                <a class="nav-link" routerLink="/calender" routerLinkActive="active">Calender</a>
                <a class="nav-link" routerLink="/dropdown" routerLinkActive="active">DropDown</a>
            </nav>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>