<div class="card">
    <div class="card-header">
        <h3>ngPrime Component</h3>
    </div>
    <div class="card-body">
        <div class="card-title text-center">
            <h4>Calander</h4>
        </div>
        <div class="card-text">
            <p-calendar [(ngModel)]="value" dateFormat="dd/mm/yy" showButtonBar="true" (onSelect)='onDataSelect(value)'>
            </p-calendar>
            <hr>
            <div class="text-right">
                <button type="button" class="btn btn-primary" (click)='setCalendarValue($event);'>Set Date</button>
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="#" class="btn btn-primary">Home</a>
        </div>

    </div>
</div>