<div class="vbox" style="height: 100vh;width: 100vw">
  <div style="height: 96vh;width: 100vw">
  <router-outlet></router-outlet>
  <div>
  <div style="height: 3vh;width: 100%;">
    outside Router .. footer
  </div>


</div>


<!--
<nav>
  <a routerLink="/dashboard">dashboard</a>
  <a routerLink="/devices">devices</a>
  <a routerLink="/sites">sites</a>
</nav>
-->



