<div class="content-section introduction">
    <div>
        <span class="feature-title">ConfirmDialog</span>
        <span>ConfirmDialog is backed by a service utilizing Observables to display confirmation windows
                easily that can be shared by multiple actions on the same component.</span>
    </div>
</div>

<div class="content-section implementation">
    <p-growl [value]="msgs"></p-growl>

    <p-confirmDialog></p-confirmDialog>

    <button type="button" (click)="confirm1()" pButton icon="fa-check" label="Confirm"></button>

    <button type="button" (click)="confirm2()" pButton icon="fa-trash" label="Delete"></button>
</div>