<div class="card">
  <div class="card-header">
    <h3>ngPrime Component</h3>
  </div>
  <div class="card-body">
    <div class="card-title text-center"><h4>Lazy Loading Data Table</h4></div>
    <div class="card-text">
        <p-dataTable 
            [value]="cars" 
            [lazy]="true" [rows]="10" 
            [paginator]="true" 
            [rowsPerPageOptions]="[5,10,20]" 
            [totalRecords]="totalRecords"
            (onLazyLoad)="loadCarsLazy($event)">
            <p-header>List of Cars</p-header>
            <p-column field="vin" header="Vin"></p-column>
            <p-column field="year" header="Year"></p-column>
            <p-column field="brand" header="Brand"></p-column>
            <p-column field="color" header="Color"></p-column>
             <p-footer>Buttons Placeholder......</p-footer>
        </p-dataTable>
    </div>
    <a href="#" class="btn btn-primary">Home</a>
  </div>
</div>