<div class="card">
    <div class="card-header">
        <h3>ngPrime Component</h3>
    </div>
    <div class="card-body">
        <div class="card-title text-center">
            <h4>Data Table</h4>
        </div>
        <div class="card-text">
            <p-growl [value]="msgs"></p-growl>
            <p-dataTable [value]="cars" [editable]="true" [(selection)]="selectedCar" [paginator]="true" rows="10" #dt>
                <p-column field="vin" header="Vin" [editable]="true" [filter]="true" [sortable]="true" filterMatchMode="contains"></p-column>
                <p-column field="year" header="Year" [filter]="true" filterMatchMode="contains" filterPlaceholder="Search">
                      <ng-template pTemplate="filter" let-col>
                        <input #filtr 
                            type="text" 
                            pInputText 
                            [(ngModel)]="custFilter" 
                            style="width:100%" 
                            (input)="dt.filter($event.srcElement.value,col.field,col.filterMatchMode);" 
                            class="ui-column-filter"/>
                    </ng-template>
                </p-column>
                <p-column field="brand" header="Brand" [editable]="true">
                    <ng-template pTemplate="filter" let-col>
                        <p-dropdown [(ngModel)]="defaultDDValue" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                            styleClass="ui-column-filter"></p-dropdown>
                    </ng-template>
                    <ng-template let-col let-car="rowData" pTemplate="editor">
                        <p-dropdown [(ngModel)]="car[col.field]" [options]="brands" [autoWidth]="false" [style]="{'width':'100%'}" required="true"
                            appendTo="body"></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column field="color" header="Color" [editable]="true" [filter]="true" filterMatchMode="equals">
                    <ng-template pTemplate="filter" let-col>
                        <p-dropdown [options]="colors" [style]="{'width':'100%'}"
                            [(ngModel)]="selectedColor" 
                            (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)"
                            styleClass="ui-column-filter" (click)='setColorValues($event)'></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column field="saleDate" header="Sale Date" [editable]="true" [style]=" {'overflow':'visible' }">
                    <ng-template pTemplate="filter" let-col>
                        <p-calendar [(ngModel)]="value" [inputStyle]="{'width':'90px'}" [showIcon]="true"></p-calendar>
                    </ng-template>
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        {{car[col.field]|date }}
                    </ng-template>
                    <ng-template let-col let-car="rowData" pTemplate="editor">
                        <p-calendar [(ngModel)]="car[col.field]" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                    </ng-template>
                </p-column>
                <p-column styleClass="col-button">
                    <ng-template pTemplate="header">
                        <button type="button" pButton icon="fa-close"></button>
                    </ng-template>
                    <ng-template let-car="rowData" pTemplate="body">
                        <button type="button" pButton (click)="delete(car)" icon="fa-close"></button>
                    </ng-template>
                </p-column>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button type="button" pButton icon="fa-plus" (click)="save()" label="Add"></button>
                        <button type="button" pButton icon="fa-refresh" (click)="resetFilter()" label="Reset Filters"></button>
                    </div>
                </p-footer>
            </p-dataTable>
        </div>
        <hr>
        <div class="text-right">
            <button type="button" class="btn btn-primary" (click)='setValue($event)'> Set Color</button>
            <button type="button" class="btn btn-primary" (click)='setDateValue($event)'> Set Date</button>
            <button type="button" class="btn btn-primary" (click)='setYearValue($event)'> Set Year</button>
        </div>
        <hr>
        <a href="#" class="btn btn-primary">Home</a>
    </div>
</div>